<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h1>report is written here</h1>
  <h2>
    {{this.firstParam}}
  </h2>
  <h3>
    {{this.secondParam}}
  </h3>
  <ion-item>
  <ion-input placeholder="Clear Input" clearInput></ion-input>
</ion-item>


</ion-content>
