<ion-header>
  <ion-navbar hideBackButton>
			<ion-row no-padding>
	      <ion-col>
	        <button ion-button clear small icon-start>
	          <img src="assets/img/toilet-icon.svg">
	          <span class="service-item">Toilet free</span>
	        </button>
	      </ion-col>
	      <ion-col text-center>
	        <button ion-button clear small icon-start>
	          <img src="assets/img/wifi-icon.svg">
	          <span class="service-item">Wifi</span>
	        </button>
	      </ion-col>
	      <ion-col text-right>
	        <button ion-button clear small color="danger" icon-start>
	          <img src="assets/img/coffee-icon.svg">
	          <span class="service-item">Cafe bar Closed</span>
	        </button>
	      </ion-col>
	    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">

	<div padding-left>
		<h1><b>Your train</b></h1>
	</div>
	
	<img src="assets/img/train-card.svg" class="train-illustration">

	<div padding-left>
		<h1><b>Services</b></h1>
	</div>

	<ion-content>
		<ion-scroll scrollX style="height:300px;">
		  <div class="scroll-item">
		    <img src="assets/img/services/share-ride-card.jpg">
		  </div>
		  <div class="scroll-item">
		    <img src="assets/img/services/charger-card.jpg">
		  </div>
		  <div class="scroll-item">
		    <img src="assets/img/services/refund-card.jpg">
		  </div>
		  <div class="scroll-item last-item">
		    <img src="assets/img/services/change-seats-card.jpg">
		  </div>
		</ion-scroll>
	</ion-content>

 <ion-fab right bottom>
   <button ion-fab style="background-color: #C40011" no-padding>
		 <img src="assets/img/conductor@3x.png" class="rounded-button">
	 </button>
   <ion-fab-list class="fabilista" side="top">
     <div (click)="openIssuePage()">Report an issue</div>
     <div (click)="openUnwellPage()">Feeling Unwell</div>
     <div (click)="openSecurityPage()">Security</div>
     <div (click)="openLostPropertyPage()">Lost Property</div>
   </ion-fab-list>


 </ion-fab>


</ion-content>
