
page-map ion-content {
  background: rgb(229, 227, 223);
}

page-map {
  #map_canvas {
    height: 250px;
    width: 160px;
    background-color : transparent;
  }
}

page-map ion-content {
  background: rgb(229, 227, 223);
}

page-map #map_canvas {
  width: 90%;
  height: 50%;
  opacity: 0;
  transition: opacity 150ms ease-in
}

page-map #map_canvas.show-map {
  opacity: 1;
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

ion-card {
  height: 40%;
  width: 40%;
}

.background-image {
  background-image: url('../img/background/image.jpg');
  width: 100vw;
  height: 100vh;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}


.Rectangle-4 {
  width: 375px;
  height: 667px;
  -webkit-backdrop-filter: blur(5.9px);
  backdrop-filter: blur(5.9px);
  background-color: rgba(255, 255, 255, 0.46);
}

.service-item {
	margin-left: 4px !important;
}

.train-illustration {
  width: 450px !important;
	margin-left: -15px;
  object-fit: contain;
}

ion-scroll[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
	  width: 191px;
	  height: 152px;
	  object-fit: contain;
		margin-left: 15px;
  }
	
	.last-item {
		margin-right: 15px;
	}
}

.rounded-button {
	height: 30px;
}

.fabilista div {
	position: relative;
	right: 65px;
	font-size: 20px;
	padding: 10px;
	margin: 7px 14px;
	margin-right: 40px;
	font-weight: bold;
	text-align: right;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
}