<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h1>issues here</h1>


  <button ion-button large (click)="openReportPage">report</button>





    <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>Broken/soiled train</h2>
      <p>Table Item Subtitle Text</p>
      <button ion-button clear item-end (click) = "openBroken()">View</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>Smell</h2>
      <p>Table Item Subtitle Text</p>
      <button ion-button clear item-end (click) = "openSmell()">View</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>Temperature</h2>
      <p>Table Item Subtitle Text</p>
      <button ion-button clear item-end (click) = "openTemperature()">View</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>Noise</h2>
      <p>Table Item Subtitle Text</p>
      <button ion-button clear item-end (click) = "openNoise()">View</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>Other</h2>
      <p>Table Item Subtitle Text</p>
      <button ion-button clear item-end (click) = "openOther()">View</button>
    </ion-item>
  </ion-list>


</ion-content>
