.Rectangle {
  width: 375px;
  height: 667px;
  background-image: linear-gradient(98deg, #851b65, #de000a);
}

.Bitmap {
  width: 122px;
  height: 66px;
  object-fit: contain;

}

.ONBOARD {
  width: 111px;
  height: 14px;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 0.7;
  letter-spacing: 1.6px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  margin: auto;

}

.ONBOARD .text-style-1 {
  letter-spacing: normal;
  display: flex;
  margin: auto;
}

.rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container {
    width: 300px;
    margin-left:auto;
    margin-right: auto;
}

.POWERED-BY {
  width: 88px;
  height: 20px;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 2.3px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  margin: auto;
}


.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
}
ion-card {
  position: relative;
  text-align: center;
}
.Group3x {
  width: 108px;
  height: 23px;
}

.logo {
  width: 108px;
  height: 23px;
  object-fit: contain;
  display: flex;
  padding-bottom: 60px;
}


.Rectangle-4 {
  width: 375px;
  height: 433px;
  background-color: #ffffff;
}


.top{
  position: relative;
  top: 100px;
}

.middle{
  position: relative;
  top: 250px;

}

.down{

  position:relative;
  top: 220px;

}

ion-content {

  background-image: url("../assets/img/maintest.png");




}



.Enter-your-ticket-nu {
  width: 224px;
  height: 26px;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1.6px;
  text-align: left;
  color: #3e3e40;
  color: var(--charcoal-grey);
  padding-top: 20px;
  margin-left: 60px;


}

.Enter-your-ticket-nu .text-style-1 {
  letter-spacing: normal;
}

.Rectangle-5 {
  width: 261px;
  height: 60px;
  border-radius: 8px;
  background-color: #eeeeee;
  box-shadow: inset 0 2px 5px 0 rgba(184, 184, 184, 0.5);
  border: solid 1px #e2e2e2;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 22px;
  padding-left: 20px;
  font-weight: bold;
  padding-top: 7px;
}

.go-btn {
  width: 108px;
  height: 46px;
  object-fit: contain;
  position: relative;
  display: flex;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  border-radius: 25px;
  background-color: #3e3e40;
}

.underline{
  text-decoration: underline;

  margin-left: 60px;
}
