<ion-content >
<!--class="login-page" class="Rectangle"-->


<!--
<div class="top">
		<div text-center >
			<img src="assets/img/bitmap@3x.png" class ="Bitmap" alt="Ionic Logo">
		</div>

			<div text-center >

			<p class="ONBOARD">
				ONBOARD
			</p>
		</div>
	</div>
-->
	<div class="middle">


<p class="Enter-your-ticket-nu">Enter your ticket number</p>
	<form #signupForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item class = "rounded">
				<ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel" required
				class="Rectangle-5" placeholder="6-digit code"
				[(ngModel)]="ticket_code">
				</ion-input>
			</ion-item>
		</ion-list>

		<p class="underline">Where can I find this?</p>



		<div padding>
			<button class= "go-btn"  ion-button (click)="onSignup(signupForm)" type="submit" block>GO</button>
		</div>
	</form>

</div>


<!--
<div class="down">

<div text-center >
	<p class="POWERED-BY">
		POWERED-BY
	</p>
</div>

	<div text-center >
		<img src="assets/img/sense3.png" class ="Bitmap" alt="Ionic Logo">
	</div>
</div>
-->
</ion-content>
